/*CSS*/

.logo {
    width: 50px;
}
header {
    background-color: rgb(56, 95, 27);
    margin: 0px;
}
.links {
    color: aliceblue;
}
#hero-box img {
    max-width: 100%;
    height: auto;
}
section {
    text-align: center;
}
main {
    text-align: center;
    display: block;
}
.icon {
    max-width: 100px;
    max-height: 100px;
}
footer {
    background-color: green;
}
#background {
    height: 725px;
    background-color: greenyellow;
}
.msg {
    text-align: center;
}