/*CSS*/

body {
    background-color: white;
}
nav {
    display: flex;
    justify-content: center;
}
.nav-link {
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
}
main {
    background-color: aqua;
}
img {
    width: 300px;
    box-shadow: 15px 15px 25px grey;
    transition: transform .5s;
    border-radius: 0%;
}
img.hover {
    opacity: .6;
    transform: scale(2.2);
}
a {
    color: black;
}
a:hover {
    color:navy;
    background-color: aliceblue;
}
#main-title {
    font-size: 4em;
}
#subtitle {
    color: red;
}