/*CSS*/
/*CSS For Personal site*/

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0%;
    grid-column: 1/6;
}
header {
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: blue;
}
a.links {
    padding: 3%;
    align-self: center;
    color: blue;
    background-color: orange;
    text-decoration: none;
    border-radius: 30%;
}
.links:hover {
    color: orange;
    background-color: #e9f2f5;
}
#logo-img img{
    width: 300px;
}
body {
    margin: 0%;
}
