/*CSS*/
/*CSS For Personal site*/

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0%;
    grid-column: 1/6;
}
header {
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: blue;
}
a.links {
    padding: 3%;
    align-self: center;
    color: blue;
    background-color: orange;
    text-decoration: none;
    border-radius: 30%;
}
.links:hover {
    color: orange;
    background-color: #e9f2f5;
}
body {
    margin: 0%;
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
p {
    grid-column: 2/3;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;
}
.logo {
    grid-row: 1/2;
    width: 300px;
    height: auto;
}
footer a {
    width: 300px;
}
.social {
    justify-content: center;
    align-self: center;
}